@font-face {
    src: url(fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-family: Inconsolata;
}

hr {
    color: rgb(255, 255, 255);
}

body {
    background-color: black;
    height: auto;
    width: 90%;
    max-width: 700px;
    margin: auto;
    padding-bottom: 70px;
    color: white;
    font-family: Inconsolata, Arial, Helvetica;
}

header {
    margin-top: 80px;
    margin-bottom: 40px;
}

main {
    border: 1px solid white;
    height: auto;
    padding: 19px;
    border-radius: 5px;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: rgb(255, 213, 235);
    font-weight: 800;
    font-size: x-large;
    font-style: italic;
}

h2::after {
    content: "ˎˊ˗";
    color: rgb(255, 213, 235);
}

p {
    font-family: Inconsolata, Arial, Helvetica;
}

pre {
    white-space: pre-wrap;
}

a,
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

button {
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 8px 12px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    transition: background 0.2s ease-out;
}

button:hover {
    background: rgb(181, 136, 178);
}

.project-container {
    display: grid;
    padding: 9px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(33, 33, 33);
}

.project-box {
    background-color: rgb(0, 0, 0);
    /* border: 2px solid rgb(109, 109, 109); */
    padding: 10px;
    margin: 3px;
}

.project-title {
    text-decoration: underline;
    font-size: large;
}

.project-title::before {
    content: ☆;
}

*::selection {
    color: rgb(247, 190, 243);
    background-color: rgb(85, 55, 81);
}

.container-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.push-right {
    margin-left: auto;
}

.space {
    height: 40px;
}

@media screen and (max-width: 450px) {
    .project-container {
        padding: 6px;
        background-color: rgb(33, 33, 33);
    }

    pre {
        font-size: 10px;
    }
}